@{ 
  ViewBag.Title = "Welcome to Cooky";
}

<section class="index">
  <div class="content-wrap">
    <div class="index-welcome">
      <h1>Welcome to Cooky</h1>
      <h2>A place for food lovers</h2>
    </div>
  </div>
</section>